<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Gestion  RH</display-name>
	<!-- Theme de primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>start</param-value>
	</context-param>


	<!-- Filtre to interdire le relogin d'un utilisateur -->


	<filter>
		<filter-name>LoginPageFilter</filter-name>
		<filter-class>com.e2a.examenenligne.filter.LoginPageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginPageFilter</filter-name>
		<url-pattern>/acceuil.xhtml</url-pattern>
	</filter-mapping>
    	<filter-mapping>
		<filter-name>LoginPageFilter</filter-name>
		<url-pattern>/</url-pattern>
	  </filter-mapping>



	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/acceuil.xhtml</welcome-file>
	</welcome-file-list>




	<!-- Les roles dans le système 2 -->
	<security-role>
		<role-name>Administrateur</role-name>
	</security-role>

	<security-role>
		<role-name>Expert</role-name>
	</security-role>

	<security-role>
		<role-name>Utilisateur</role-name>
	</security-role>


	<!-- security constraint -->


	<security-constraint>
		<display-name>Administrator</display-name>
		<web-resource-collection>
			<web-resource-name>Admin Area</web-resource-name>
			<description />
			<url-pattern>/Administrateur/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Administrateur</description>
			<role-name>Administrateur</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Expert</display-name>
		<web-resource-collection>
			<web-resource-name>Expert Area</web-resource-name>
			<description />
			<url-pattern>/Expert/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Expert</description>
			<role-name>Expert</role-name>
		</auth-constraint>
	</security-constraint>


	<security-constraint>
		<display-name>Utilisateur</display-name>
		<web-resource-collection>
			<web-resource-name>Utilisateur Area</web-resource-name>
			<description />
			<url-pattern>/Utilisateur/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Utilisateur</description>
			<role-name>Utilisateur</role-name>
		</auth-constraint>
	</security-constraint>




	<!-- Le Formulire pour l'authentificatrion -->
   <!--     realm  correspond au nome du domaine et non pas du jass context  -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>loginSecurity</realm-name>

		<form-login-config>
			<form-login-page>/acceuil.xhtml</form-login-page>
			<form-error-page>/403.xhtml</form-error-page>
		</form-login-config>
	</login-config>



	<!-- Page d'erreurs pour les zones interdites -->

	<error-page>
		<error-code>403</error-code>
		<location>/403.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/acceuil.xhtml</location>
	</error-page>

</web-app>